* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #4A4E69;
  --header-background: #8E9AAF;
  --logo-background: #CBC0D3;
  --sedundary-color: #FEEAFA;
  --body-background: #EFF1FF;
  --paragraph-color: #23053A;

  font-size: 62.5%;
}

/* body::before {
  content: '';

  background-color: var(--header-background);
  background-size: 200% 200%;

  animation: moviment-bg 50s ease infinite alternate;

  width: 100%;
  height: 27.9rem;
  font-size: 1.6rem;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
} */

body {
  /* max-width: clamp(38.4rem, 1rem + 5vw, 102.4rem); */
  margin: 0 auto;
  height: 100%;


  background-color: var(--body-background);

}

.body-wrapper {
  display: flex;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 37.7rem;
  height: 72rem;

  padding-top: 3.2rem;
}

.title-header {
  width: 100%;
  height: 4.9rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 3.2rem;

  background-color: var(--logo-background);
}

header h1 {
  font-family: 'Staatliches';
  font-size: 4rem;
  font-weight: 400;
  font-style: normal;
  line-height: 3.4rem;

  letter-spacing: 0.05em;

  color: #FFFF;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

main p {
  margin-top: 4.3rem;

  font-size: 1.5rem;
  font-family: 'Palanquin';
  color: var(--paragraph-color);

  width: 30.5rem;

  margin-bottom: 6.3rem;

  text-align: center;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.card1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.card2 {
  grid-column: 2/3;
  grid-row: 1/3;
}

.card3 {
  grid-column: 3/4;
  grid-row: 1/2;
}

.card4 {
  grid-column: 1/2;
  grid-row: 2/4;
}

.card5 {
  grid-column: 2/3;
  grid-row: 3/4;
}

.card6 {
  grid-column: 3/4;
  grid-row: 2/4;
}



.wrapper img {
  margin-bottom: 3.6rem;
  max-width: 32rem;

  animation: down-top 1s ease-out;
}

/* .wrapper {
  position: relative;
} */

.wrapper img:hover,
.wrapper img:focus {
  transform: scale(1.1);
  opacity: 0.8;
}

.image-title {
  width: 11.2rem;
  height: 3.5rem;
  background-color: var(--sedundary-color);

  border-radius: 2rem;

  text-align: center;
  right: 1.6rem;
  top: 1.6rem;

  animation: top-down 1s ease-out;
}

.image-title h6 {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.4rem;

  color: var(--primary-color);
  /* padding: 0 auto; */

}

@keyframes moviment-bg {
  from {
    background-position: 0 0%;
  }

  to {
    background-position: 0 100%;
  }

}

@keyframes down-top {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}

@keyframes top-down {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}

/* @media (min-width: 700px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "H M M "
      "H F F";
  }

  header {
    grid-area: H;
  }

  main {
    grid-area: M;
  }

  footer {
    grid-area: F;
  }

} */